<div class="normal" *ngIf="normalView" #about>
    <div id="text_div">
        <div data-aos="fade-left"
         data-aos-anchor="#example-anchor"
         data-aos-offset="500"
         data-aos-duration="500">
    
         <p id="header">Ahoj, já jsem Bruno</p>
    
    </div>
        
        <div class="longText" data-aos="fade-up">
    
            <div>
                <button mat-flat-button>📍 Praha</button>
                <button mat-flat-button>⭐️ 18 let</button>
                <button mat-flat-button>🖥️ Milovník nových technologií</button>
               
            </div>
    
                <br>
    
            <p class="centerText">Jazykové dovednosti</p>
            <div>
                <button mat-flat-button>Cěcký jazyk - Native</button>
                <button mat-flat-button>Anglický jazyk - C1</button>
                <button mat-flat-button>Německý jazyk - B1</button>
               
            </div>
            <br>
            <p class="centerText">Vzdělání</p>
            <div>
                <button mat-flat-button>SPŠ na Proseku, obor Vývoj aplikací a her</button>
            </div>
    
            <br>
            <p class="centerText">Mé přednosti</p>
            <div>
                 <button mat-flat-button>🤩 Seberozvíjení</button>
                <button mat-flat-button>🎯 Píle</button>
                <button mat-flat-button>⏱️ Dochvilnost</button>
                <button mat-flat-button>👨🏼‍🎓 Snaha a chuť učit se novým věcem</button>
            </div>
    
            <br>
    
            <p class="centerText">Moje veřejné projety</p>
            <div>
                 <a href="http://kucharkaprotloustiky.rf.gd/?i=1"><button mat-flat-button >🍔 KPT - Kuchařka pro tlouštíky</button></a>
               
            </div>
        
        </div>
       
    </div>
    
    
    
    <div id="image_div" data-aos="zoom-out-right">
       <img id="img-right" src="./../../assets/pictures/bebr_left.png">
    </div>
    
</div>
<div class="mobile" *ngIf="mobileView">

    <div id="text_div">
        <div data-aos="fade-left"
         data-aos-anchor="#example-anchor"
         data-aos-offset="500"
         data-aos-duration="500">
    
         <p id="header">Ahoj, já jsem Bruno</p>
    
        </div>
        
        <div class="longText" data-aos="fade-up">
    
            <div>
                <button mat-flat-button>📍 Praha</button>
                <button mat-flat-button>⭐️ 18 let</button>
                <button mat-flat-button>🖥️ Milovník nových technologií</button>
               
            </div>
    
                <br>
    
            <p class="centerText">Jazykové dovednosti</p>
            <div>
                <button mat-flat-button>Cěcký jazyk - Native</button>
                <button mat-flat-button>Anglický jazyk - C1</button>
                <button mat-flat-button>Německý jazyk - B1</button>
               
            </div>
            <br>
            <p class="centerText">Vzdělání</p>
            <div>
                <button mat-flat-button>SPŠ na Proseku, obor Vývoj aplikací a her</button>
            </div>
    
            <br>
            <p class="centerText">Mé přednosti</p>
            <div>
                 <button mat-flat-button>🤩 Seberozvíjení</button>
                <button mat-flat-button>🎯 Píle</button>
                <button mat-flat-button>⏱️ Dochvilnost</button>
                <button mat-flat-button>👨🏼‍🎓 Snaha a chuť učit se novým věcem</button>
            </div>
    
            <br>
    
            <p class="centerText">Moje veřejné projety</p>
            <div>
                 <a href="http://kucharkaprotloustiky.rf.gd/?i=1"><button mat-flat-button >🍔 KPT - Kuchařka pro tlouštíky</button></a>
               
            </div>
        
        </div>
       
    </div>
</div>

