
<div class="normal" *ngIf="normalView">
    <div id="text_div" data-aos="fade-left">
        <p id="header">Jak mě kontaktovat?</p>
        <div class="longText">
            <div id="inDivText">
               
                
                <button mat-flat-button>📞 +420 606 644 269</button>
                <button mat-flat-button>✉️ bruno.bebr@gmail.com</button>
                <br>
                <br>
                    <a href="https://www.linkedin.com/in/bruno-b%C3%A9br-bb793a220/" target="_blank">
                    <button mat-icon-button class="icon favorite-icon" aria-label="Linkedin">
                      <img src="../../assets/icons/linked.svg">
                    </button>
                    </a>
                    <a href="https://github.com/BrunoBebr" target="_blank">
                    <button mat-icon-button class="icon" aria-label="GitHub">
                        <img src="../../assets/icons/github.svg">
                    </button>
                    </a>
                    <a href="https://www.instagram.com/b_bebr/" target="_blank">
                        <button mat-icon-button class="icon favorite-icon" aria-label="Linkedin">
                          <img src="../../assets/icons/instagram.svg">
                        </button>
                        </a>
                        <a href="https://www.facebook.com/BrunoBebrCZ/" target="_blank">
                        <button mat-icon-button class="icon" aria-label="GitHub">
                            <img src="../../assets/icons/messenger.svg">
                        </button>
                        </a>
                        <a href="https://twitter.com/bebrbruno" target="_blank">
                            <button mat-icon-button class="icon" aria-label="GitHub">
                                <img src="../../assets/icons/twitter.svg">
                            </button>
                            </a>
            </div>
        </div>
       
    </div>
    <div id="image_div" data-aos="zoom-out-right">
       <img id="img-right" src="./../../assets/pictures/bebr_contact.png">
    </div>

    

</div>

<div class="mobile" *ngIf="mobileView">
    <div id="text_div">
        <p id="header">Jak mě kontaktovat?</p>
        <div class="longText">
            <div id="inDivText">
               
                
                <button mat-flat-button>📞 +420 606 644 269</button>
                <button mat-flat-button>✉️ bruno.bebr@gmail.com</button>
                <br>
                <br>
                    <a href="https://www.linkedin.com/in/bruno-b%C3%A9br-bb793a220/" target="_blank">
                    <button mat-icon-button class="icon favorite-icon" aria-label="Linkedin">
                      <img src="../../assets/icons/linked.svg">
                    </button>
                    </a>
                    <a href="https://github.com/BrunoBebr" target="_blank">
                    <button mat-icon-button class="icon" aria-label="GitHub">
                        <img src="../../assets/icons/github.svg">
                    </button>
                    </a>
                    <a href="https://www.instagram.com/b_bebr/" target="_blank">
                        <button mat-icon-button class="icon favorite-icon" aria-label="Linkedin">
                          <img src="../../assets/icons/instagram.svg">
                        </button>
                        </a>
                        <a href="https://www.facebook.com/BrunoBebrCZ/" target="_blank">
                        <button mat-icon-button class="icon" aria-label="GitHub">
                            <img src="../../assets/icons/messenger.svg">
                        </button>
                        </a>
                        <a href="https://twitter.com/bebrbruno" target="_blank">
                            <button mat-icon-button class="icon" aria-label="GitHub">
                                <img src="../../assets/icons/twitter.svg">
                            </button>
                            </a>
            </div>
        </div>
       
    </div>
    
    
</div>
