
<div class="normal" *ngIf="normalView">

<div id="text_div" data-aos="fade-up">
    <p id="header">Moje dovednosti</p>
   
    <p class="centerText">Programovací dovednosti</p>
    <div id="chips">
        <button mat-flat-button>SQL</button>
        <button mat-flat-button>HTML</button>
        <button mat-flat-button>TypeScript</button>
        <button mat-flat-button>CSS</button>
        <button mat-flat-button>SCSS</button>
        <button mat-flat-button>JavaScript</button>
        <button mat-flat-button>GIT</button>
        <button mat-flat-button>Angular</button>
        <button mat-flat-button>Angular Material</button>
        <button mat-flat-button>WordPeress</button>
        <button mat-flat-button>PHP</button>   
        <button mat-flat-button>Python</button>    
        <button mat-flat-button>C#</button>     
    </div>

    <br>

    <p class="centerText">Znalost softwaru</p>
    <div id="chips">
        <button mat-flat-button>Oracle SQL Developer</button>
        <button mat-flat-button>MS Office</button>
        <button mat-flat-button>Photoshop</button>
        <button mat-flat-button>Illustrator</button>
        <button mat-flat-button>Premiere Pro</button>
        <button mat-flat-button>DaVinci Resolve</button>
        <button mat-flat-button>Cinema 4D</button>
        <button mat-flat-button>PrusaSlicer 3D</button>
        <button mat-flat-button>Maya</button>
        <button mat-flat-button>Visual Studio</button>  
        <button mat-flat-button>Visual Studio Code</button>   
        <button mat-flat-button>GitHub</button>     
    </div>

    <br>

    <p class="centerText">OS</p>
    <div id="chips">
        <button mat-flat-button>Windows</button>
        <button mat-flat-button>MacOS</button>
        <button mat-flat-button>iOS</button>
        <button mat-flat-button>Android</button>
        <button mat-flat-button>watchOS</button>
        
    </div>
   
</div>

<div id="image_div" data-aos="zoom-out-left">
   <img id="img-right" src="./../../assets/pictures/bebr_right.png">
</div>

</div>

<div class="mobile" *ngIf="mobileView">
    <div id="text_div" data-aos="fade-up">
        <p id="header">Moje dovednosti</p>
       
        <p class="centerText">Programovací dovednosti</p>
        <div id="chips">
            <button mat-flat-button>SQL</button>
            <button mat-flat-button>HTML</button>
            <button mat-flat-button>TypeScript</button>
            <button mat-flat-button>CSS</button>
            <button mat-flat-button>SCSS</button>
            <button mat-flat-button>JavaScript</button>
            <button mat-flat-button>GIT</button>
            <button mat-flat-button>Angular</button>
            <button mat-flat-button>Angular Material</button>
            <button mat-flat-button>WordPeress</button>
            <button mat-flat-button>PHP</button> 
            <button mat-flat-button>Python</button>    
            <button mat-flat-button>C#</button>         
        </div>
    
        <br>
    
        <p class="centerText">Znalost softwaru</p>
        <div id="chips">
            <button mat-flat-button>Oracle SQL Developer</button>
            <button mat-flat-button>MS Office</button>
            <button mat-flat-button>Photoshop</button>
            <button mat-flat-button>Illustrator</button>
            <button mat-flat-button>Premiere Pro</button>
            <button mat-flat-button>DaVinci Resolve</button>
            <button mat-flat-button>Cinema 4D</button>
            <button mat-flat-button>PrusaSlicer 3D</button>
            <button mat-flat-button>Maya</button>
            <button mat-flat-button>Visual Studio</button>  
            <button mat-flat-button>Visual Studio Code</button>   
            <button mat-flat-button>GitHub</button>     
        </div>
    
        <br>
    
        <p class="centerText">OS</p>
        <div id="chips">
            <button mat-flat-button>Windows</button>
            <button mat-flat-button>MacOS</button>
            <button mat-flat-button>iOS</button>
            <button mat-flat-button>Android</button>
            <button mat-flat-button>watchOS</button>
            
        </div>
       
    </div>
    
   
    </div>
    