
.body{
    background: radial-gradient(circle at top, #4027ff , #39258a);
    position: relative;

}

.centertext{
    text-align: center;
    font-family: 'Cairo Play', cursive;
    font-weight: 600;
    font-size: 100px;
    
    
}
.centertext h2{
    line-height: 100px;

}
.light{
    font-weight: 300;
}
.small{
    font-size: 30px;
}

.jumping {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
.normal #notImportantText{
    position: absolute;
    rotate: -20deg;
    bottom: -220px;
    right: -200px;
    width: 1200px;
    text-align: block;
    font-family: 'Bitter', serif;
}

.mobile #notImportantText{
    position: absolute;
    rotate: -20deg;
    bottom: -35vh;
    right: -200px;
    width: 1200px;
    text-align: block;
    font-family: 'Bitter', serif;
}
#main-img{
    position: absolute;
    right: 2vw;
    bottom: 0px;
    z-index: 1;
    height: 85vh;
}
#move{
    position: absolute;
    top: 0px;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
